apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: todo-backend
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  sessionAffinity: None
