apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: todo-frontend
    tier: frontend
spec:
  type: LoadBalancer
  selector:
    app: todo-frontend
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  sessionAffinity: None
